<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="{{ asset('resources/assets/css/custom.css') }}">

    <title>{% block title %}Welcome!{% endblock %} </title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">PostList</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="/post/create">Add Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/post/myposts">My Posts</a>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item"><a class="btn btn-info" href="{{ path('fos_user_security_logout') }}">Log out</a></li>
                {% else %}
                    <li class="nav-item"><a class="btn btn-info" href="{{ path('fos_user_registration_register') }}">New User Registration</a></li>
                    &nbsp;<li class="nav-item"><a class="btn btn-info" href="{{ path('fos_user_security_login') }}">Log in</a></li>

                {% endif %}
            </ul>

        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">

    <div class="row">
        <div class="col-md-12">
            <br>
            {% block body %}{% endblock %}
        </div>
    </div>

</main>
{% block javascripts %}{% endblock %}

</body>
</html>
