{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-info" href="/">Back To Posts</a>
    <hr>
    <h2 class="page-header">{{ post.title }}</h2>

    <ul class="list-group">
        <li class="list-group-item">Description: {{post.description}}</li>
        <li class="list-group-item">Posted: {{post.postCreated|date('Y-m-d H:i')}}</li>
        <li class="list-group-item">Author: {{post.author}}</li>

    </ul>
{% endblock %}