{% extends 'base.html.twig' %}

{% block body %}

    <div class="card-deck">

    {% for post in posts %}
    <div class="col-sm-6 col-md-4" style="padding-top: 10px">
        <div class="card" >
            <a href="/post/details/{{ post.id }}" class="btn btn-outline-info">Details</a>
            <div class="card-body">
                <h5 class="card-title text-truncate">{{ post.title }}</h5>
                <p class="text-justify card-text block-ellipsis">{{ post.description }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ post.postCreated|date('Y-m-d H:i') }} by {{ post.author }}</small>
            </div>
        </div>
    </div>
    {% endfor %}

    </div>

{% endblock %}